// global css in Sass 

li {
    list-style: none;
}

ul {
    padding: 0;
}

body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: #444444;
    background-color: #FAFAFA;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.space-even {
    justify-content: space-evenly;
}

.space-between {
    justify-content: space-between;
}

.center-hor {
    align-items: center
}

.center-ver {
    justify-content: center
}

.center-text-ver {
    display: flex;
    align-items: center;
}

.margins-around {

}

* {
    line-height: 2.5rem;
    margin: 0;
    -webkit-font-smoothing: antialiased;
}
  
body {
    width: 100%;
    box-sizing: border-box;
}